/* style sheet CSS */

*{
    font-family: "Times New Roman", Courier, monospace;
    line-height: 1.5;
}

.home{
    text-decoration: none;
}
.container{
    text-align: center;
    background-color: lightyellow;
    border: 2px solid darkblue;
    border-radius: 20px;
}

.container.main{
    text-align: left;
}

p, li{
    font-size: 20px;
}

img{
    border: 2px solid darkblue;
    border-color: black;
    border-radius: 20px;
}

h1, h2, h3{
    text-transform: uppercase;
    font-size: 30px;
}

.steps h3{
    color: darkred;
    margin-inline: 100px;
    border: solid lightcoral; 
    background-color: hsla(9, 65%, 67%, 0.273);
    font-style: italic;
}

.ingredients ul, .steps ol{
    text-align: left;
}

.recipes a{
    text-decoration: none;
    margin: auto;
}